@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: theme("colors.dark");
  color: theme("colors.white");
}

.row-container:hover .opacity-0 {
  opacity: theme("opacity.100");
}
